@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-BoldItalic.woff2') format('woff2'),
        url('JosefinSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Bold.woff2') format('woff2'),
        url('JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Italic.woff2') format('woff2'),
        url('JosefinSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans.woff2') format('woff2'),
        url('JosefinSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-SemiBold.woff2') format('woff2'),
        url('JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-LightItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('fonts/JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-Light.woff2') format('woff2'),
        url('fonts/JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-ThinItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/JosefinSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


html,body {
    margin: 0px;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

#top-menu {
    grid-column: 0 / 1;
    grid-row: 0 / 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
}

#top-menu > div {
    margin: 25px;
    color: white;
    cursor: pointer;
    
}

#content {
    grid-column: 0 / 1;
    grid-row: 2 / 11;
    position: relative;
}

#landing-image {
   
    height: 100%;
    background-image: url("img/sushi-table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    filter: brightness(60%)
    
}

#headline {
    position: absolute;
    top: 35%;
    left: 10%;
    color: white;
    font-size: 5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    max-width: 400px;
}


#menu-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 140px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    padding: 15px;
    
}

#menu-meals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
    width: 600px;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    
}

.menu-item-title {
   font-weight: 600;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.1em;
  
}

.menu-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

#menu-container {
    display: flex;
    justify-content: center;
}

.menu-item-desc {
    font-size: 0.9em;
}